<!DOCTYPE html>
<html lang="{{ lang }}">
	<head>
		<meta charset="UTF-8" />
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/css/global.css"></link>
	</head>
	<body>
		<div class="header">
			<ul class="nav">
				<li>
					<b>{{ sitename }}</b>
				</li>
				<li>
					<ul class="nav dropdown">
						<li>{{ text.languages }}</li>
						{% for alt in alternates %}
						<li>
							<a {% if alt.lang == lang %}disabled class="is-bold is-active"{% else %}href="{{ alt.url }}"{% endif %}>{{ alt.lang }}</a>
						</li>
						{% endfor %}
					</ul>
				</li>
			</ul>
		</div>
		<div class="content">
			{{ content | safe }}
		</div>
	</body>
</html>