<!DOCTYPE html>
<html lang="{{ lang }}">
	<head>
		<meta charset="UTF-8" />
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/css/global.css"></link>
	</head>
	<body>
		<div class="header">
			<ul class="nav">
				<li>
					<b>{{ sitename }}</b>
				</li>
				<li>
					<ul class="nav dropdown">
						<li>{{ text.languages }}</li>
						{% for alt in alternates %}
						<li>
							<a {% if alt.lang == lang %}disabled class="is-bold is-active"{% else %}href="{{ alt.url }}"{% endif %}>{{ alt.lang }}</a>
						</li>
						{% endfor %}
					</ul>
				</li>
			</ul>
		</div>
		<h2>{{ text.tool }}</h2>
		<div class="content">
			<ul>
			{% for tool in tools %}
			<li>
				{{ tool.name }}
			</li>
			{% endfor %}
			</ul>
		</div>
		<h2>{{ text.app }}</h2>
		<div class="content">
			<ul>
			{% for app in apps %}
			<li>
				{{ app.name }}
			</li>
			{% endfor %}
			</ul>
		</div>
		<h2>{{ text.inst }}</h2>
		<div class="content">
			<ul>
			{% for instance in instances %}
			<li>
				{{ instance.name }}
			</li>
			{% endfor %}
			</ul>
		</div>
	</body>
</html>
